{% extends "include_core/blog.html" %}

{% block seo %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="blog-content-programming-math-django-python-martin-varbanov">
	<meta name="keywords" content="Blog, Martin, Varbanov, Django, Python, programming, math">
	<meta name="author" content="Martin Varbanov">
	<title>Martin Varbanov</title>
{% endblock %}

{% block content %}
	{% for obj in object_list %}
		<li>
			<a href="/blog/{{ obj.id }}"><h1>{{ obj.topic_title }}</h1></a>
			<span>{{ obj.pub_date|date:"d-m-Y" }}</span>
			<a href="/blog/{{ obj.id }}"><p>{{ obj.topic_resume }}</p></a>
		</li>
 	{% endfor %}
{% endblock %}